/*variables*/

/* reset*/
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}  

body,p,a,ul,li, h3{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/*base styles*/
body{
    padding: 20px 20px 0px 20px;
}

/*fonts*/



/*mobile styles*/
header{
    background-color: cyan;
    display: flex;
    align-items: center;
    
}

    .logo{
        height: 100px;
        padding: 20px 0px;
        
    }

    .menu-nav{
        flex: 1;
        align-items: center;
        
    }

        .menu-nav ul{
            background-color: darkmagenta;
            padding: 10px 0px;
            display: flex;
            justify-content: flex-end;
            font-size: .8em;
        }

            .menu-nav li{
                min-width: 50px;
            }


.grid{
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: lavender;
    padding: 20px 0px;
    
}

    #welcome{
        font-size: 3em;
        grid-column: 1 / 2;
    }

    #myself p{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }




footer{
    background-color: darkorange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;

}
        footer p{
        grid-column:1/4;
        grid-row: 3;
        height: 10px;
        place-self: center;
    }


    .footer-logo{
        height: 80px;
        padding: 20px 0px;
        grid-row: 2;
        align-items: center stretch;
    }


    .menu-footer{
        grid-row: 2;
        font-size: .9em;
       
    }

    .footer-contact{
        grid-column: 3;
        grid-row: 2;
        font-size: .9em;
        
    }
        .footer-contact p {
            padding: .8em 0em;
            font-size: .8em;
            font-style: Light;
        }

    /*small tablet styles*/
    @media screen and (min-width: 620px){

    }

/*large tables & laptop styles*/
@media screen and (min-width: 960px){

}

/*desktop styles*/
@media screen and (min-width:1200px){
    
}

/* grid testing */

