/*variables*/

/* reset*/
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}  

body,p,a,ul,li,h1,h2,h3{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a:link{
    color: #f08700;
}
a:hover{
    color: #f08700;
}

li{
    list-style-type: none;
}

/*base styles*/
body{
    padding: 20px 20px 0px 10px;
}

/*fonts*/



/*mobile styles*/
header{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

    .logo{
        height: 90px;
        padding: 20px 0;
        
    }

    .menu-nav{
        flex: 1;
        align-items: center;
        height:90px;
        font-weight: 800;
        
    }

        .menu-nav ul{

            
            padding: 35px 0px;
            display: flex;
            justify-content: flex-end;
            font-size: .9em;
            
        }

        .menu-nav li{
                min-width: 58px;
                
            }    

            .menu-nav a{
                padding: 20px 0px;
            }    


.grid-home{
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    align-items: center;
}

    .welcome{
        color: #000000;
        font-size: 4em;
        
        grid-column: 1;
        grid-row: 1/3;
        
    }

    .myself {
        width: 25vh;
        color: #820263;
        font-size: 1rem;
        grid-column:1 / 3;
        grid-row: 1/3;
        margin: 20vh;
        padding-top: 2vh;
        

    }




footer{
    
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-gap: 10px;
        align-items: center;
    
    

}

    .footer-logo{
        width: 50px;
        grid-column: 1/2;
        grid-row: 1;
        align-items: center;

    }


    .menu-footer{
        
        grid-column: 2/3;
        grid-row: 1;
        font-size: .8em;
        font-weight: 900;
        display: flex;
    
    }

            .menu-footer ul{
                display: flex;
                justify-content: flex-end;
                font-size: .9em;
            
            }

            .menu-footer li{
                padding: 0px 10px;
                
            }

                .menu-footer a{
                    
                    display: flex;
                    padding: 17px 0px;
                }

        footer p{
            height: 20px;
            justify-self: center;
            text-transform: uppercase;
            
        }
/*
    .footer-contact{
        grid-column: 3;
        grid-row: 2;
        font-size: .9em;
        
    }
        .footer-contact p {
            padding: .8em 0em;
            font-size: .6em;
            font-weight: 900px;
        }
*/

        footer #direitos{
            color: #F85F09;
            font-size: .7em;
            font-weight: 900;
            grid-column: 1/3;
            grid-row:2 ;
            align-items: center;
        }

    /*small tablet styles*/
    @media screen and (min-width: 620px){

    }

/*large tables & laptop styles*/
@media screen and (min-width: 960px){

}

/*desktop styles*/
@media screen and (min-width:1200px){
    
}

/* grid testing */

